<?xml version="1.0"?>
<launch>

  <!-- Add custom Gazebo paths -->
  <env name="GAZEBO_MODEL_PATH"
      value="$(find com3528_examples)/models:$(optenv MIRO_DIR_MDK)/sim/models:$(optenv GAZEBO_MODEL_PATH)" />
  <env name="GAZEBO_RESOURCE_PATH"
      value="$(optenv MIRO_DIR_MDK)/sim:$(optenv GAZEBO_RESOURCE_PATH)" />
  <env name="GAZEBO_PLUGIN_PATH"
      value="$(optenv MIRO_DIR_MDK)/bin/${MIRO_SYSTEM}:$(optenv GAZEBO_PLUGIN_PATH)" />

  <!-- Specify which .world file to load -->
  <arg name="world" default="$(optenv MIRO_DIR_MDK)/sim/worlds/miro.world"/>

  <!-- Set the name for Gazebo -->
  <arg name="gazebo_ns" default="gazebo_server" doc="Gazebo namespace, typically 'gazebo' or 'gazebo_server'" />
  <!-- start Gazebo server with exposed ROS interface-->
  <node name="$(arg gazebo_ns)"
      pkg="gazebo_ros"
      type="gzserver"
      respawn="false"
      required="true"
      args="--physics ode --verbose $(arg world)"
  />

  <!--A helper script the moves the ball in Gazebo-->
  <node name="find_obj" pkg="detect_ppl_obj" type="find_obj.py" />

  <!-- Start Gazebo client -->
  <node name="gazebo_gui"
      pkg="gazebo_ros"
      type="gzclient"
      respawn="true"
  />

</launch>